.icon-user {background-image: url(../icon/user.png) !important;}
.icon-user-add {background-image: url(../icon/user_add.gif) !important;}
.icon-save {background-image: url(../icon/save.gif) !important;}
.icon-reset {background-image: url(../icon/stop.png) !important;}
.icon-grid {background-image: url(../icon/grid.png) !important;}
.icon-add {background-image: url(../icon/add.png) !important;}
.icon-delete {background-image: url(../icon/delete.png) !important;}
.icon-accept {background-image: url(../icon/accept.png) !important;}
.icon-cog {background-image: url(../icon/cog.png) !important;}
.icon-cog-edit {background-image: url(../icon/cog_edit.png) !important;}
.icon-connect {background-image: url(../icon/connect.png) !important;}
.icon-cross {background-image: url(../icon/cross.gif) !important;}
.icon-control-rewind {background-image: url(../icon/control_rewind.png) !important;}
.icon-error {background-image: url(../icon/error.png) !important;}
.icon-application-go {background-image: url(../icon/application_go.png) !important;}
.icon-information {background-image: url(../icon/information.png) !important;}
.upload-icon {background-image: url(../icon/image_add.png) !important;}
.icon-folder-go {background-image: url(../icon/folder_go.png) !important;}
.icon-album {background-image: url(../icon/album.gif) !important;}
.icon-refresh {background-image: url(../icon/refresh.gif) !important;}
